.department-details-container {
  padding: 50px;
  // margin: 50px;
  .art-list-container {
    display: flex;
    gap: 30px;
    // margin: 0px 40px;
  }
  fa-icon {
    font-size: 50px;
    height: 200px;
    display: flex;
    align-items: center;
  }
}
