.department-details-container {
  padding: 50px;
  h5 {
    margin-bottom: 2rem;
  }
  // margin: 50px;
  .art-list-container {
    display: flex;
    gap: 30px;
    .art-objects {
      width: 100%;
      display: flex;
      gap: 30px;
      overflow-x: hidden;
    }
  }
  fa-icon {
    font-size: 50px;
    height: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
