<main class="department-details-container">
  <h5>{{ department?.displayName }}</h5>
  <div class="art-list-container" *ngIf="department?.objectList?.length > 0">
    <fa-icon [icon]="faAngleLeft" (click)="leftClick()"></fa-icon>
    <div class="art-objects" #scrollableDiv>
      <app-art-object-card
        *ngFor="let item of department?.objectList"
        [artObject]="item"
        (click)="openArtDetailsDialog(item)"
      ></app-art-object-card>
    </div>
    <fa-icon [icon]="faAngleRight" (click)="rightClick()"></fa-icon>
  </div>
  <div *ngIf="department?.objectList?.length == 0">No Data Available</div>
</main>
