<main class="art-object-details-container">
  <h4>Art Information</h4>
  <div class="details-body">
    <div class="image-section">
      <img [src]="imgSrc" alt="art-image" />
    </div>
    <div class="details-section">
      <p>Title : {{ artObject?.title }}</p>
      <p>Department : {{ artObject?.title }}</p>
      <p>Artist : {{ artObject?.artistDisplayName }}</p>
      <p>Year : {{ artObject?.objectDate }}</p>
      <p>Repository : {{ artObject?.repository }}</p>
    </div>
  </div>
</main>
