.art-object-container {
  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  p {
    margin-top: 1rem;
    text-align: center;
    font-size: 13px;
    width: 197px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
